factory_boy==3.3.3
fastapi==0.115.8
passlib==1.7.4
psycopg2==2.9.10
psycopg2_binary==2.9.10
pydantic==2.10.6
pydantic_settings==2.7.1
PyJWT==2.10.1
pytest==8.3.4
python-dotenv==1.0.1
reportlab==3.6.8
Requests==2.32.3
SQLAlchemy==2.0.36
sqlalchemy_filterset==2.3.0
