
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}


input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
/* Ocultar barra de scroll en WebKit (Chrome, Safari) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Ocultar barra de scroll en Firefox */
.scrollbar-hide {
  scrollbar-width: thin;
}

@keyframes slide-down {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 0.5s ease-out;
}
